@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&family=Fira+Sans+Extra+Condensed&family=Raleway:wght@100&display=swap');

*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: Be+Vietnam+Pro;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.85em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}
label{ font-size: 1.85em;}

body {
  font-family: 'Roboto', sans-serif;
}
.sidebar {
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #310404;
  transition: all .5s ease;
}
.sidebar header {
  font-size: 22px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #460b06;
  user-select: none;
  
}
.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  padding-top: 70px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255, 255, 255, 0.249);
  transition: .4s all;
}
ul li:hover a{
  padding-left: 50px;
  color: rgb(201, 191, 0);
  transition: 0.8s;
}
.sidebar ul a i{
  margin-right: 16px;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  background: #310404;
  border-radius: 3px;
  cursor: pointer;
}
label #btn{
  left: 40px;
  top: 25px;
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  transition: all .5s;
}
label #cancel{
  z-index: 1111;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: #ffffff;
  padding: 4px 9px;
  transition: all .5s ease;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel{
  left: 195px;
}
#check:checked ~ section{
  margin-left: 250px;
}

html{
  scroll-behavior: smooth;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.65em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

button{
  font-size: 1.25em;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 5px;
  border: 2px solid rgba(0,0,0,0.3);
  box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
  color: white;
  background-color: rgb(103, 0, 0);
}

button:hover{
  background-color: rgb(201, 191, 0);
  transition: 0.5s;
  
}

.container{
  max-width: 1400px;
  margin: auto;
}

.color-acento{ color:rgb(165, 8, 0); }

header{
    background-color: rgb(245,245,245);
    
}



#hero{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 90vh;
  background-image: linear-gradient(
      0deg,
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5)
  )
  ,url("img/fondo3.0.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#hero h1{
  color: white;
}

#hero button{
  font-size: 1.75em;
}

#somos-proya .container{
  text-align: center;
  padding: 200px 12px;
}

#nuestros-programas{
  background-color: rgb(30,30,30);
  color: white;
  text-align: center;
}
div.texto:hover{
  transition: 0.2s;
  flood-color: #310404;
}

#nuestros-programas .container{
  padding: 150px 12px;
}

#nuestros-programas h2{
  margin-top: 0;
  font-size: 3.2em;
}

#nuestros-programas p{
  display: none;
}

#nuestros-programas .carta{
  background-position: center center;
  background-size: cover;
  padding: 50px 0px;
  margin: 30px;
  border-radius: 105px / 222px;
}

.carta:first-child{
  background-image: linear-gradient(
      0deg,
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5)
  )
  ,url("img/recargas.png");

}

.carta:nth-child(2){
  background-image: linear-gradient(
      0deg,
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5)
  )
  ,url("img/servicio.png");
}



#caracteristicas .container{
  text-align: center;
  padding: 250px 12px;
}

#caracteristicas li{
  margin: 16px 0px;
  font-weight: bold;
}

#final{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(30,30,30);
  color: white;
  height: 80vh;
}



footer p{
  margin: 0;
  padding: 12px;
  color: rgb(100,100,100);
}

footer .container{
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#final h2{
  font-size: 9vw;
}

#final button{
  font-size: 5vw;
}

footer{
  background-color: rgb(103, 0, 0);
}

footer p{
  margin: 0;
  padding: 12px;
  color: rgb(255, 255, 255);
}

footer .container{
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@media (min-width: 850px){

  

#nuestros-programas .programas{
  display: flex;
  justify-content: center;
}

#nuestros-programas p{
  display: block;
  margin-bottom: 30px;
}

#nuestros-programas h2{
  font-size: 4em;
}

#nuestros-programas h3{
  margin-top: 0;
}

#caracteristicas .container{
  text-align: initial;
}

#caracteristicas ul{
  margin-left: 100px;
}

#final h2{
  font-size: 5em;
}

#final button{
  font-size: 2em;
}

}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 5px solid #ccc;
  border-radius: 5px;
}

label {
  margin-top: 50px;
}

input[type="tel"],
input[type="email"] {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}